<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commentDeleteKeys</key>
	<dict>
		<key>id</key>
		<string>id</string>
	</dict>
	<key>threadDeleteKeys</key>
	<dict>
		<key>id</key>
		<string>id</string>
	</dict>
	<key>threadFormKeys</key>
	<dict>
		<key>title</key>
		<string>title</string>
		<key>body</key>
		<string>description</string>
		<key>author</key>
		<string>author</string>
		<key>authorId</key>
		<string>posterID</string>
		<key>imagePath</key>
		<string>imgURL</string>
		<key>schoolId</key>
		<string>school</string>
	</dict>
	<key>commentFormKeys</key>
	<dict>
		<key>parentThread</key>
		<string>parentThread</string>
		<key>imagePath</key>
		<string>imgURL</string>
		<key>authorId</key>
		<string>posterID</string>
		<key>author</key>
		<string>author</string>
		<key>body</key>
		<string>text</string>
	</dict>
	<key>forumCommentKeys</key>
	<dict>
		<key>id</key>
		<string>_id</string>
		<key>author</key>
		<string>author</string>
		<key>authorId</key>
		<string>posterID</string>
		<key>body</key>
		<string>text</string>
		<key>dateString</key>
		<string>created</string>
		<key>imagePath</key>
		<string>imgURL</string>
	</dict>
	<key>lecturerKeys</key>
	<dict>
		<key>id</key>
		<string>_id</string>
		<key>schoolId</key>
		<string>school</string>
		<key>name</key>
		<string>name</string>
		<key>body</key>
		<string>description</string>
	</dict>
	<key>eventKeys</key>
	<dict>
		<key>location</key>
		<string>location</string>
		<key>schoolId</key>
		<string>school</string>
		<key>id</key>
		<string>_id</string>
		<key>title</key>
		<string>title</string>
		<key>body</key>
		<string>details</string>
		<key>endDateString</key>
		<string>endDate</string>
		<key>startDateString</key>
		<string>startDate</string>
	</dict>
	<key>schoolKeys</key>
	<dict>
		<key>schoolName</key>
		<string>name</string>
		<key>startDateString</key>
		<string>startDate</string>
		<key>endDateString</key>
		<string>endDate</string>
	</dict>
	<key>loginKeys</key>
	<dict>
		<key>schoolId</key>
		<string>school</string>
	</dict>
	<key>forumThreadKeys</key>
	<dict>
		<key>id</key>
		<string>_id</string>
		<key>schoolId</key>
		<string>school</string>
		<key>title</key>
		<string>title</string>
		<key>body</key>
		<string>description</string>
		<key>author</key>
		<string>author</string>
		<key>authorId</key>
		<string>posterID</string>
		<key>imagePath</key>
		<string>imgURL</string>
		<key>comments</key>
		<string>comments</string>
		<key>dateString</key>
		<string>created</string>
	</dict>
	<key>generalInfoKeys</key>
	<dict>
		<key>id</key>
		<string>_id</string>
		<key>schoolId</key>
		<string>school</string>
		<key>title</key>
		<string>title</string>
		<key>body</key>
		<string>description</string>
		<key>category</key>
		<string>category</string>
		<key>dateString</key>
		<string>created</string>
	</dict>
	<key>applicationKeys</key>
	<dict>
		<key>applicationServerURL</key>
		<string>http://turing13.housing.rug.nl:8800</string>
	</dict>
	<key>announcementKeys</key>
	<dict>
		<key>id</key>
		<string>_id</string>
		<key>schoolId</key>
		<string>school</string>
		<key>title</key>
		<string>title</string>
		<key>body</key>
		<string>description</string>
		<key>dateString</key>
		<string>created</string>
	</dict>
</dict>
</plist>
