<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationServerURL</key>
	<string>http://turing13.housing.rug.nl:8800</string>
	<key>schoolIdKey</key>
	<string>school</string>
	<key>schoolNameKey</key>
	<string>name</string>
	<key>schoolStartDateKey</key>
	<string>startDate</string>
	<key>schoolEndDateKey</key>
	<string>endDate</string>
</dict>
</plist>
